$color: #e77d34;
$background: #f5f0e6;

$tablet: 900px;
$mobile: 400px;

$small: 0.9rem;
$medium: 1.45rem;
$big: 1.8rem;

$h1: 3.052em;
$h2: 2.441em;
$h3: 1.953em;
$h4: 1.563em;
$h5: 1.25em;
$h6: 1em;
