@import "../../style/base.scss";
.button-layout {
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.2em;
  background-color: $background;
  border: none;
  padding: 1% 2%;
  transition: all 0.5s;
  box-shadow: 0 4px #f77419;
  margin: 0 0 4px 0;
  cursor: pointer;

  &:hover {
    background-color: $background;
    background-color: $color;
  }
  &:active {
    box-shadow: 0 4px rgba(255, 255, 255, 0.3);
    transform: translateY(4px);
  }
}
